<h1>Games</h1>

<div class="container text-center">
  <div class="row align-items-start">
    <% @games.each do |game| %>
    <div class="col-sm-4 border border-primary-subtle">
      <%= link_to gane.game_name, game %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col pagination justify-content-center">
      <%= paginate @games %>
    </div>
    <div class="col">
    </div>
  </div>
</div>
