<main>
  <% if flash[:notice] %>
    <p>
      <%= flash[:notice] %>
    </p>
  <% end %>
</main>
<footer>
  <details>
    <summary>
        Cart
        <% if cart.present? %>
          <sup><%= cart.size %></sup>
        <% end %>
      </details>
      <% if cart.present? %>
        <p><%= link_to "View Cart", 'checkout/' %></p>
      <% end %>
      <hr>
    </summary>
</footer>
